html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: $font-md;
  line-height: 1.3;
  overflow-x: hidden;
  min-height: 100vh;

  @include breakpoint-up(large) {
    font-size: $font-md;
  }

  &.noscroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 0px;
  line-height: 1.15;
  font-weight: 400;
}

h4 {
  font-weight: 500;
}

p {
  margin-bottom: 2.25rem;
  line-height: 1.5;
  font-weight: 400;
  color: $grayishBlue;
  font-size: 1rem;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2.35rem;
  letter-spacing: -1.5px;
  font-weight: 800;
  color: $black;
  margin-bottom: 1.5rem;

  @include breakpoint-up(large) {
    font-size: $font-xlg;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  font-weight: 500;

  @include breakpoint-up(large) {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
  font-weight: 300;
}

//spacing
.container {
  max-width: 85.375rem;
  margin: 0 auto;

  &--pall-hero {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
      padding-right: 6.75rem;
      padding-left: 6.75rem;
    }
  }

  &--pall {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  &--py {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  &--px {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }

  &--pt {
    padding-top: 4.375rem;

    @include breakpoint-up(large) {
      padding-top: 6rem;
    }
  }
  &--pr {
    padding-right: 1.75rem;
  }
  &--pb {
    padding-bottom: 4.375rem;

    @include breakpoint-up(large) {
      padding-bottom: 6rem;
    }
  }
  &--pl {
    padding-left: 1.75rem;
  }
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

//Buttons
button,
.button {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  background: $darkGreen;
  border: 0.5px solid $darkGreen;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  color: #fff;
  font-size: $font-sm;
  transition: all 150ms ease-in-out;

  &:hover {
    opacity: 0.85;
    font-weight: 500;
    background: transparent;
    border: 0.5px solid $darkGreen;
    color: #000;
  }
}

#ht-b {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  background: $darkGreen;
  border: 0.5px solid $darkGreen;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  color: #fff;
  font-size: $font-sm;
}

//Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
