//colors
$darkBlue: hsl(233, 26%, 24%);
$grayishBlue: hsl(0, 0%, 34%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(26, 52%, 89%);
$black: hsl(0, 100%, 0%);
$darkGreen: hsl(0, 0%, 4%);
$lightGreen: hsl(98, 56%, 86%);
$offWhite: hsl(228, 33%, 97%);

//font sizes
$font-sm: 0.875rem; //14px
$font-md: 1.1235rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 52px
